In [1]:
import molecula

In [2]:
client = molecula.Client('192.168.1.53:20101')

In [3]:
for x in client.get_vds_list():
    print(x)

{'id': '', 'name': 'cars', 'description': ''}
{'id': '', 'name': 'cseg', 'description': ''}
{'id': '', 'name': 'skills', 'description': ''}
{'id': '', 'name': 'stargazer', 'description': ''}
{'id': '', 'name': 'stargazer_rt', 'description': ''}

In [4]:
client.get_vds(name='stargazer')

{'id': '', 'name': 'stargazer', 'description': ''}

In [5]:
list(client.querysql('SELECT * FROM stargazer LIMIT 10'))

[{'_id': 0, 'repo_id': 2, 'ts': '2014-06-10T21:35:00Z', 'user_id': 4},
 {'_id': 1, 'repo_id': 408, 'ts': '2015-01-13T20:02:00Z', 'user_id': 4},
 {'_id': 2, 'repo_id': 2, 'ts': '2014-06-11T16:46:00Z', 'user_id': 5},
 {'_id': 3, 'repo_id': 2, 'ts': '2014-08-26T22:18:00Z', 'user_id': 9},
 {'_id': 4, 'repo_id': 1, 'ts': '2014-12-16T17:50:00Z', 'user_id': 10},
 {'_id': 5, 'repo_id': 361, 'ts': '2015-03-10T20:47:00Z', 'user_id': 10},
 {'_id': 6, 'repo_id': 1, 'ts': '2015-08-07T20:30:00Z', 'user_id': 12},
 {'_id': 7, 'repo_id': 2, 'ts': '2014-06-11T07:16:00Z', 'user_id': 12},
 {'_id': 8, 'repo_id': 498, 'ts': '2016-06-30T01:51:00Z', 'user_id': 12},
 {'_id': 9, 'repo_id': 2, 'ts': '2014-06-16T03:19:00Z', 'user_id': 13}]

In [6]:
import pandas as pd

In [7]:
cars = pd.DataFrame(list(client.querysql('SELECT * FROM cars')))
cars

,_id,condition,cylinders,drive,lat,long,odometer,price,size,title_status,transmission,weather_c,year
0,992,4,6,[4wd],42,-85,40000,30000,[full-size],[lien],[automatic],7,2015
1,1817,3,8,[4wd],41,-71,101000,10900,[full-size],[clean],[automatic],9,2006
2,1916,3,8,[4wd],44,-123,253765,3328,[full-size],[clean],[automatic],10,1998
3,2467,3,6,[rwd],29,-81,111610,6995,[full-size],[clean],[automatic],18,2008
4,2549,2,8,[4wd],44,-91,193016,2350,[full-size],[clean],[automatic],7,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5197,1722306,1,8,[rwd],38,-94,43911,1900,[full-size],[clean],[automatic],11,1977
5198,1722443,3,8,[4wd],33,-89,93580,23800,[full-size],[clean],[automatic],16,2014
5199,1722445,3,6,[4wd],33,-89,94380,26900,[full-size],[clean],[automatic],16,2015
5200,1722448,3,8,[4wd],33,-89,99108,22900,[full-size],[clean],[automatic],16,2015
5201,1722957,2,8,[4wd],33,-88,160360,16750,[full-size],[clean],[automatic],16,2012